.main {
  padding: 80px 16px 10px 16px;
}
.container {
  max-width: 1300px;
  max-height: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.tableContainer {
  overflow-x: auto;
}

.dateHeader {
  padding: 20px;
}

.productTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columns1 {
  border-radius: 12px 0 0 0;
}

.columns3 {
  border-radius: 0 12px 0 0;
}

.productTable th,
.productTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.productTable th {
  background: #333;
  color: white;
}

.productCell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productImage {
  object-fit: cover;
  border-radius: 5px;
}

.productTable th:nth-child(2),
.productTable th:nth-child(3),
.productTable th:nth-child(4) {
    text-align: center;
    vertical-align: middle;
}

.productTable td:nth-child(2){
  font-weight: bold;
  color: #28a745;
  text-align: center;
  vertical-align: middle;
}

.productTable td:nth-child(3),
.productTable td:nth-child(4) {
  font-weight: bold;
  color: #333;
  text-align: center;
  vertical-align: middle;
}

.productTable td {
  padding: 10px !important;
  border: none !important;
}


.fila{
  background-color: #fff;
  max-width: 100%;
}

.fila td {
  height: 70px;
}

.totalMessage{
  background-color: #fff;
  border-radius: 0 0 0 12px;
  padding: 25px;
  height: 70px;
}

.totalAmount{
  background-color: #fff;
  border-radius: 0 0 12px 0;
  padding: 25px;
  height: 70px;
}

.tdFooterTable{
  background-color: #fff;
  padding: 25px;
  height: 70px;
}


